body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(231, 189, 231);
  }
  
  .prompt-box {
    background-color:#a7aba9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .prompt-box label {
    display: block;
    margin-bottom: 5px;
  }
  
  .prompt-box input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a7aba9;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .prompt-box button {
    background-color: #56d3de;
    color: #0e0c0c;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .prompt-box button:hover {
    box-shadow: 3px 3px rgb(52, 62, 52);
    /* background-color:black */
  }
  /* .shra{
   /* height: auto!important; */
   /* background-color:#4CAF50 !important; */
  /* } */ 
  .nave textarea{
    background-color: #ccc;
  }
